.heading {
  font-weight: 700;
  letter-spacing: -0.5px;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.step-number {
  font-size: 5rem;
  font-weight: 600;
  color: #ccc;
}
