/* Dropbox.css */

/* Style the Choose button */
.p-fileupload-choose {
  padding: 20px 60px; /* Adjust padding to increase button size */
  background-color: #155e75; /* Change background color to blue (you can use any color you prefer) */
  color: #fff; /* Change text color to white */
  font-size: 24px;
  border: none; /* Remove border */
  border-radius: 10px; /* Apply border-radius for rounded corners */
}

/* Hover effect for the Choose button */
.p-fileupload-choose:hover {
  background-color: #083344; /* Darker blue on hover */
}
